wsdl/eucalyptus_gl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2009-2012 Eucalyptus Systems, Inc.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; version 3 of the License.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see http://www.gnu.org/licenses/.

  Please contact Eucalyptus Systems, Inc., 6755 Hollister Ave., Goleta
  CA 93117, USA or visit http://www.eucalyptus.com/licenses/ if you need
  additional information or have any questions.

  This file may incorporate work covered under the following copyright
  and permission notice:

    Software License Agreement (BSD License)

    Copyright (c) 2008, Regents of the University of California
    All rights reserved.

    Redistribution and use of this software in source and binary forms,
    with or without modification, are permitted provided that the
    following conditions are met:

      Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.

      Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer
      in the documentation and/or other materials provided with the
      distribution.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
    "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
    LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
    FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
    COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
    BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
    CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
    LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
    ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGE. USERS OF THIS SOFTWARE ACKNOWLEDGE
    THE POSSIBLE PRESENCE OF OTHER OPEN SOURCE LICENSED MATERIAL,
    COPYRIGHTED MATERIAL OR PATENTED MATERIAL IN THIS SOFTWARE,
    AND IF ANY SUCH MATERIAL IS DISCOVERED THE PARTY DISCOVERING
    IT MAY INFORM DR. RICH WOLSKI AT THE UNIVERSITY OF CALIFORNIA,
    SANTA BARBARA WHO WILL THEN ASCERTAIN THE MOST APPROPRIATE REMEDY,
    WHICH IN THE REGENTS' DISCRETION MAY INCLUDE, WITHOUT LIMITATION,
    REPLACEMENT OF THE CODE SO IDENTIFIED, LICENSING OF THE CODE SO
    IDENTIFIED, OR WITHDRAWAL OF THE CODE CAPABILITY TO THE EXTENT
    NEEDED TO COMPLY WITH ANY SUCH LICENSES OR RIGHTS.
  -->

<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:ns1="http://schemas.xmlsoap.org/soap/http" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://eucalyptus.ucsb.edu/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    name="EucalyptusGL" 
    targetNamespace="http://eucalyptus.ucsb.edu/">

  <wsdl:types>
    <xs:schema 
	attributeFormDefault="qualified" 
	elementFormDefault="qualified" 
	targetNamespace="http://eucalyptus.ucsb.edu/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://eucalyptus.ucsb.edu/">

      <xs:complexType abstract="true" name="serviceInfoType">
        <xs:sequence>
          <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="type" type="xs:string"/>
          <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="name" type="xs:string"/>
          <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="uris" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType abstract="true" name="eucalyptusMessage">
	<xs:sequence>
	  <xs:element nillable="false" minOccurs="0" name="correlationId" type="xs:string"/>
	  <xs:element nillable="false" minOccurs="0" name="userId" type="xs:string"/>
	  <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="statusMessage" type="xs:string"/>
	  <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="return" type="xs:boolean"/>
	  <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="nodeName" type="xs:string"/>
          <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="epoch" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="services" type="tns:serviceInfoType"/>
	</xs:sequence>
      </xs:complexType>
<!--   
      <xs:complexType name="getLogsType">
        <xs:complexContent> 
          <xs:extension base="tns:eucalyptusMessage">
	    <xs:sequence>
	      <xs:element minOccurs="0" name="serviceTag" type="xs:string"/>
	    </xs:sequence>
	  </xs:extension>
	</xs:complexContent>
      </xs:complexTypei>
      
      <xs:complexType name="getLogsResponseType">
        <xs:complexContent> 
          <xs:extension base="tns:eucalyptusMessage">
	    <xs:sequence>
	      <xs:element minOccurs="0" name="serviceTag" type="xs:string"/>
	      <xs:element minOccurs="0" name="CCLog" type="xs:string"/>
	      <xs:element minOccurs="0" name="NCLog" type="xs:string"/>
	      <xs:element minOccurs="0" name="httpdLog" type="xs:string"/>
	      <xs:element minOccurs="0" name="axis2Log" type="xs:string"/>
	    </xs:sequence>
	  </xs:extension>
	</xs:complexContent>
      </xs:complexType>
-->

      <xs:complexType name="getKeysType">
        <xs:complexContent> 
          <xs:extension base="tns:eucalyptusMessage">
	    <xs:sequence>
	      <xs:element minOccurs="0" name="serviceTag" type="xs:string"/>
	    </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      
      <xs:complexType name="getKeysResponseType">
        <xs:complexContent> 
          <xs:extension base="tns:eucalyptusMessage">
	    <xs:sequence>
	      <xs:element minOccurs="0" name="serviceTag" type="xs:string"/>
	      <xs:element minOccurs="0" name="CCcert" type="xs:string"/>
	      <xs:element minOccurs="0" name="NCcert" type="xs:string"/>
	    </xs:sequence>
	  </xs:extension>
	</xs:complexContent>
      </xs:complexType>

      <!--xs:element name="GetLogs" nillable="true" type="tns:getLogsType"/-->
      <!--xs:element name="GetLogsResponse" nillable="true" type="tns:getLogsResponseType"/-->

      <xs:element name="GetKeys" nillable="true" type="tns:getKeysType"/>
      <xs:element name="GetKeysResponse" nillable="true" type="tns:getKeysResponseType"/>
    </xs:schema>
  </wsdl:types>
<!--  
  <wsdl:message name="GetLogsResponse">
    <wsdl:part element="tns:GetLogsResponse" name="GetLogsResponse">
    </wsdl:part>
  </wsdl:message-->
-->
  <wsdl:message name="GetKeysResponse">
    <wsdl:part element="tns:GetKeysResponse" name="GetKeysResponse">
    </wsdl:part>
  </wsdl:message>
<!--
  <wsdl:message name="GetLogs">
    <wsdl:part element="tns:GetLogs" name="GetLogs">
    </wsdl:part>
  </wsdl:message>
-->
  <wsdl:message name="GetKeys">
    <wsdl:part element="tns:GetKeys" name="GetKeys">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="EucalyptusGL">

    <wsdl:operation name="GetKeys">
      <wsdl:input message="tns:GetKeys" name="GetKeys">
      </wsdl:input>
      <wsdl:output message="tns:GetKeysResponse" name="GetKeysResponse">
      </wsdl:output>
    </wsdl:operation>
<!--
    <wsdl:operation name="GetLogs">
      <wsdl:input message="tns:GetLogs" name="GetLogs">
      </wsdl:input>
      <wsdl:output message="tns:GetLogsResponse" name="GetLogsResponse">
      </wsdl:output>
    </wsdl:operation>
-->
  </wsdl:portType>

  <wsdl:binding name="EucalyptusGLSoapBinding" type="tns:EucalyptusGL">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="GetKeys">
      <soap:operation soapAction="EucalyptusGL#GetKeys" style="document"/>
      <wsdl:input name="GetKeys">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetKeysResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
<!--
    <wsdl:operation name="GetLogs">
      <soap:operation soapAction="EucalyptusGL#GetLogs" style="document"/>
      <wsdl:input name="GetLogs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetLogsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
-->
  </wsdl:binding>

  <wsdl:service name="EucalyptusGL">
    <wsdl:port binding="tns:EucalyptusGLSoapBinding" name="EucalyptusGLPort">
      <soap:address location="http://cc:9090/axis2/services/EucalyptusGL"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
